body
{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../image/maintrain.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comic Sans MS";
}
h1
{
    color: #fff;
    margin-bottom: 20px;
    font-size: 55px;
    letter-spacing: 2px;
    text-align: center;
}
.form
{
    align-content: center;
}
.form-box
{
    color: white;
    font-size: 27px;
}
.login-field
{
    background-color: #eeeeee;
    height: 35px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 12px;
    outline: none;
}
.btn {
    display: inline-block;
    border-radius: 10px;
    border: none;
    color: #000;
    text-align: center;
    font-size: 22px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.btn:hover span {
    padding-right: 25px;
}
.btn:hover span:after {
    opacity: 1;
    right: 0;
}
.login
{
    background-color: #89ff7e;
}
.signup
{
    background-color: rgb(166, 204, 247);
}